/*

*/

.version.index /* version checker */
{
	color: #0000E6;
	background-color: #EA57B1;
}

@-ms-viewport
{
	width: 1000px;
}

@-webkit-viewport
{
	width: 1000px;
}

@-o-viewport
{
	width: 1000px;
}

@-moz-viewport
{
	width: 1000px;
}

@viewport
{
	width: 1000px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 2916.9999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -3px;
}

#pu1477
{
	width: 0.01px;
}

#u1477,#u1477-bw
{
	z-index: 2;
	height: 466px;
}

#u1478,#u1478-bw
{
	z-index: 3;
	height: 466px;
}

#u1479
{
	z-index: 4;
}

#menuu1480
{
	z-index: 5;
	width: 798px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 115px;
}

#u1481
{
	width: 150px;
	min-height: 44px;
	margin-right: -10000px;
}

#u1482
{
	width: 150px;
	padding-bottom: 25px;
}

#u1484-4
{
	width: 57px;
	min-height: 19px;
	margin-right: -10000px;
	top: 12px;
	left: 46px;
}

#u1482:hover #u1484-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1495
{
	width: 156px;
	min-height: 44px;
	margin-right: -10000px;
	left: 152px;
}

#u1498
{
	width: 156px;
	padding-bottom: 25px;
}

#u1501-4
{
	width: 63px;
	min-height: 19px;
	margin-right: -10000px;
	top: 12px;
	left: 46px;
}

#u1482.MuseMenuActive #u1484-4,#u1498:hover #u1501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1488
{
	width: 152px;
	min-height: 44px;
	margin-right: -10000px;
	left: 310px;
}

#u1489
{
	width: 152px;
	padding-bottom: 25px;
}

#u1491-4
{
	width: 60px;
	min-height: 19px;
	margin-right: -10000px;
	top: 12px;
	left: 46px;
}

#u1498.MuseMenuActive #u1501-4,#u1489:hover #u1491-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1509
{
	width: 152px;
	min-height: 44px;
	margin-right: -10000px;
	left: 464px;
}

#u1510
{
	width: 152px;
	padding-bottom: 25px;
}

#u1512-4
{
	width: 60px;
	min-height: 19px;
	margin-right: -10000px;
	top: 12px;
	left: 46px;
}

#u1489.MuseMenuActive #u1491-4,#u1510:hover #u1512-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1502
{
	width: 180px;
	min-height: 44px;
	margin-right: -10000px;
	left: 618px;
}

#u1505
{
	width: 180px;
	padding-bottom: 25px;
}

#u1482.MuseMenuActive,#u1498.MuseMenuActive,#u1489.MuseMenuActive,#u1510.MuseMenuActive,#u1505.MuseMenuActive
{
	margin: 0px;
}

#u1507-4
{
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	top: 12px;
	left: 46px;
}

#u1510.MuseMenuActive #u1512-4,#u1505:hover #u1507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1505.MuseMenuActive #u1507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1479-bw
{
	z-index: 4;
	margin-bottom: -1px;
	margin-top: 420px;
	height: 45px;
}

#u1516-4
{
	z-index: 36;
	width: 217px;
	min-height: 47px;
	margin-right: -10000px;
	margin-top: 253px;
	left: 392px;
}

#u1517
{
	z-index: 40;
	width: 190px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 405px;
}

#u1519-4
{
	z-index: 42;
	min-height: 32px;
}

#u1519-4-bw
{
	z-index: 42;
	min-height: 32px;
	margin-top: 301px;
	height: 32px;
}

#slideshowu1661
{
	z-index: 55;
	width: 0.01px;
	height: 759px;
	margin-top: 2px;
	position: relative;
}

#u1662
{
	position: absolute;
	width: 1000px;
	height: 759px;
	background-color: transparent;
}

#u1662popup
{
	z-index: 56;
}

#u1663
{
	z-index: 57;
	width: 1000px;
	height: 759px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/sam9mkx6_0q.jpg") no-repeat center center;
	background-size: cover;
}

#u1664
{
	z-index: 58;
	width: 1000px;
	height: 759px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/qfdwkhrrlfk.jpg") no-repeat center center;
	background-size: cover;
}

#u1665
{
	z-index: 59;
	width: 1000px;
	height: 759px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/pyrgmykeum0.jpg") no-repeat center center;
	background-size: cover;
}

#u1676
{
	position: absolute;
	width: 70px;
	top: 709px;
	left: 465px;
}

#u1676popup
{
	z-index: 60;
}

#u1679
{
	z-index: 61;
	width: 15px;
	height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF;
	background-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u1679:hover
{
	background-image: none;
	background-color: #BFBFBF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1679.SSSlideLinkSelected
{
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #BFBFBF url("../../images/sam9mkx6_0q.jpg") no-repeat left top;
}

#u1677
{
	z-index: 62;
	width: 15px;
	height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF;
	background-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#u1677:hover
{
	background-color: #BFBFBF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1677.SSSlideLinkSelected
{
	background-color: #BFBFBF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1678
{
	z-index: 63;
	width: 15px;
	height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF;
	background-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	left: 53px;
}

#u1678:hover
{
	background-color: #BFBFBF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1678.SSSlideLinkSelected
{
	background-color: #BFBFBF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1672
{
	position: absolute;
	width: 355px;
	background-color: transparent;
	top: 379px;
	left: 125px;
}

#u1672popup
{
	z-index: 64;
}

#u1674-4
{
	z-index: 65;
	width: 335px;
	min-height: 154px;
	border-style: none;
	border-color: transparent;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	color: #FFFFFF;
	line-height: 22px;
	font-size: 16px;
	text-align: right;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
	padding: 20px 10px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u1675-4
{
	z-index: 69;
	width: 335px;
	min-height: 154px;
	border-style: none;
	border-color: transparent;
	background-color: #323232;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	line-height: 22px;
	font-size: 16px;
	text-align: right;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
	padding: 20px 10px;
	-pie-background: rgba(0, 0, 0, 0.8);
}

#u1673-4
{
	z-index: 73;
	width: 335px;
	min-height: 154px;
	border-style: none;
	border-color: transparent;
	background-color: #323232;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	line-height: 22px;
	font-size: 16px;
	text-align: right;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
	padding: 20px 10px;
	-pie-background: rgba(0, 0, 0, 0.8);
}

#u1674-2,#u1675-2,#u1673-2
{
	padding-right: 10px;
	padding-left: 10px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u1681-4
{
	z-index: 77;
	width: 305px;
	min-height: 42px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	margin-left: 18px;
	margin-top: 106px;
	position: relative;
}

#u1681
{
	font-size: 48px;
}

#u1682-4
{
	z-index: 81;
	width: 454px;
	min-height: 30px;
	background-color: transparent;
	color: #5D0000;
	line-height: 36px;
	font-size: 30px;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	margin-left: 19px;
	margin-top: 51px;
	position: relative;
}

#u1682-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 51px 0px 0px 19px;
}

#u1687-5
{
	z-index: 101;
	width: 960px;
	min-height: 141px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1689
{
	z-index: 106;
	width: 136px;
	background-color: transparent;
}

#u1707-4
{
	z-index: 141;
	width: 94px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 150px;
}

#u1712-4
{
	z-index: 161;
	width: 95px;
	min-height: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 859px;
}

#u1683-4
{
	z-index: 85;
	width: 454px;
	min-height: 30px;
	background-color: transparent;
	color: #5D0000;
	line-height: 36px;
	font-size: 30px;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	margin-left: 20px;
	margin-top: 47px;
	position: relative;
}

#u1683-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 47px 0px 0px 20px;
}

#u1691-5
{
	z-index: 109;
	width: 960px;
	min-height: 141px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1693
{
	z-index: 114;
	width: 136px;
	background-color: transparent;
}

#u1708-4
{
	z-index: 145;
	width: 94px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 150px;
}

#u1713-4
{
	z-index: 165;
	width: 95px;
	min-height: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 859px;
}

#u1685-4
{
	z-index: 93;
	width: 454px;
	min-height: 30px;
	background-color: transparent;
	color: #5D0000;
	line-height: 36px;
	font-size: 30px;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	margin-left: 20px;
	margin-top: 51px;
	position: relative;
}

#u1685-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 51px 0px 0px 20px;
}

#pu1691-5,#pu1699-5
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 15px;
}

#u1699-5
{
	z-index: 125;
	width: 960px;
	min-height: 141px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1701
{
	z-index: 130;
	width: 136px;
	background-color: transparent;
}

#u1710-4
{
	z-index: 153;
	width: 94px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 150px;
}

#u1715-4
{
	z-index: 173;
	width: 95px;
	min-height: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 859px;
}

#u1684-4
{
	z-index: 89;
	width: 454px;
	min-height: 30px;
	background-color: transparent;
	color: #5D0000;
	line-height: 36px;
	font-size: 30px;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	margin-left: 19px;
	margin-top: 50px;
	position: relative;
}

#pu1687-5,#pu1695-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 15px;
}

#u1695-5
{
	z-index: 117;
	width: 960px;
	min-height: 141px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1697
{
	z-index: 122;
	width: 136px;
	background-color: transparent;
}

#u1709-4
{
	z-index: 149;
	width: 94px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 150px;
}

#u1714-4
{
	z-index: 169;
	width: 95px;
	min-height: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 859px;
}

#u1686-4
{
	z-index: 97;
	width: 454px;
	min-height: 30px;
	background-color: transparent;
	color: #5D0000;
	line-height: 36px;
	font-size: 30px;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	margin-left: 19px;
	margin-top: 50px;
	position: relative;
}

#u1684-4:hover,#u1686-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 50px 0px 0px 19px;
}

#u1682-4:hover p,#u1683-4:hover p,#u1685-4:hover p,#u1684-4:hover p,#u1686-4:hover p
{
	color: #5D0000;
	visibility: inherit;
	text-decoration: underline;
}

#pu1703-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 16px;
}

#u1703-5
{
	z-index: 133;
	width: 960px;
	min-height: 141px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1688,#u1692,#u1700,#u1696,#u1704
{
	float: left;
	margin-right: 15px;
}

#u1705
{
	z-index: 138;
	width: 136px;
	background-color: transparent;
}

#u1711-4
{
	z-index: 157;
	width: 94px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #1B1464;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 150px;
}

#u1707-4:hover,#u1708-4:hover,#u1710-4:hover,#u1709-4:hover,#u1711-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 115px -10000px 0px 0px;
}

#u1707-4:hover p,#u1708-4:hover p,#u1710-4:hover p,#u1709-4:hover p,#u1711-4:hover p
{
	color: #0071BC;
	visibility: inherit;
	text-decoration: underline;
}

#u1716-4
{
	z-index: 177;
	width: 95px;
	min-height: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 859px;
}

#pu1717-4
{
	width: 0.01px;
	margin-left: 408px;
	margin-top: 130px;
}

#u1717-4
{
	z-index: 181;
	width: 56px;
	min-height: 24px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u1718-4
{
	z-index: 185;
	width: 56px;
	min-height: 24px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u1520
{
	z-index: 46;
	padding: 27px 404px 28px 403px;
}

#pu1521
{
	width: 0.01px;
	position: relative;
}

#u1521
{
	z-index: 47;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
}

#u1522
{
	z-index: 48;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
	left: 50px;
}

#u1523
{
	z-index: 49;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
	left: 99px;
}

#u1524
{
	z-index: 50;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
	left: 149px;
}

#u1521:hover,#u1522:hover,#u1523:hover,#u1524:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1525-4
{
	z-index: 51;
	width: 188px;
	min-height: 13px;
	margin-top: 17px;
}

#u1520-bw
{
	z-index: 46;
	margin-top: 24px;
	height: 81px;
}

@font-face
{
	font-family: '__Brandon Grotesque_5';
	src: url('../../fonts/brandon_reg.eot');
	src: local('☺'), url('../../fonts/brandon_reg.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

