#u1477
{
	border-style: none;
	border-color: transparent;
	background: #000000 url("../../images/dsc_0176.jpg") no-repeat center center;
	background-size: cover;
}

#u1478
{
	border-color: #000000;
	background-color: #000000;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u1479
{
	border-style: solid;
	border-color: #6F6F6F;
	background-color: transparent;
	border-width: 1px 0px;
}

#menuu1480,#u1482
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1484-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	position: relative;
}

#u1482:hover #u1484-4 p
{
	color: #FF281D;
	visibility: inherit;
}

#u1498
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1501-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	position: relative;
}

#u1482.MuseMenuActive #u1484-4 p,#u1498:hover #u1501-4 p
{
	color: #FF281D;
	visibility: inherit;
}

#u1489
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1491-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	position: relative;
}

#u1498.MuseMenuActive #u1501-4 p,#u1489:hover #u1491-4 p
{
	color: #FF281D;
	visibility: inherit;
}

#u1510
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1512-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	position: relative;
}

#u1489.MuseMenuActive #u1491-4 p,#u1510:hover #u1512-4 p
{
	color: #FF281D;
	visibility: inherit;
}

#u1505
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1507-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	position: relative;
}

#u1510.MuseMenuActive #u1512-4 p,#u1505:hover #u1507-4 p
{
	color: #FF281D;
	visibility: inherit;
}

#u1505.MuseMenuActive #u1507-4 p
{
	color: #FF281D;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1516-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	position: relative;
}

#u1481,#u1495,#u1488,#u1509,#u1502,#u1517
{
	background-color: transparent;
	position: relative;
}

#u1519-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
}

#u1520
{
	border-width: 5px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u1521
{
	border-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	background: transparent url("../../images/twitter.png") no-repeat center center;
}

#u1521:hover
{
	background: transparent url("../../images/twitter-hover.png") no-repeat center top;
}

#u1522
{
	border-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	background: transparent url("../../images/facebook.png") no-repeat center center;
}

#u1522:hover
{
	background: transparent url("../../images/facebook-hover.png") no-repeat center top;
}

#u1523
{
	border-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	background: transparent url("../../images/soundcloud1.png") no-repeat center center;
}

#u1523:hover
{
	background: transparent url("../../images/soundcloud-hover1.png") no-repeat center top;
}

#u1524
{
	border-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	background: transparent url("../../images/instagram.png") no-repeat center center;
}

#u1524:hover
{
	background: transparent url("../../images/instagram-hover.png") no-repeat center top;
}

#u1525-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	font-family: '__Brandon Grotesque_5';
	font-weight: 300;
	position: relative;
}

#u1525
{
	color: #FFFFFF;
}

